html body {
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
}

.hearts {
	color: white;
	text-align: center;
}

@keyframes appearOne {
	0% { opacity: 0%; }
	50% { opacity: 100%; }
	100% { opacity: 0%; }
}

@-webkit-keyframes appearOne {
	0% { opacity: 0%; }
	50% { opacity: 100%; }
	100% { opacity: 0%; }
}

@keyframes appearTwo {
	0% { opacity: 100%; }
	50% { opacity: 0%; }
	100% { opacity: 100%; }
}

@keyframes appearThree {
	0% { opacity: 100%; }
	25% { opacity: 0%; }
	50% { opacity: 100%; }
	75% { opacity: 0%; }
	100% { opacity: 100%; }
}

.heartOne {
	transform: scale(.9) translate(100px, 5px);
	animation: appearOne 6s infinite linear;
	-webkit-animation: appearOne 6s infinite linear;
}

.heartTwo {
	transform: scale(1.1) translate(0px, 100px);
	animation: appearTwo 6s infinite linear;
}

.heartThree {
	transform: translate(-80px, -20px);
	animation: appearThree 6s infinite linear;
}

@keyframes slide {
	from { transform: translateX(-70%); }
	to { transform: translateX(100%); }
}

h1 {
	font-family: ohno-blazeface, sans-serif;
	font-style: normal;
	font-weight: 100;
	color: white;
	margin: 0;
	animation: slide 6s infinite linear;
}

h2 {
	font-family: sans-serif;
}

p {
	font-family: sans-serif;
}

.note {
	margin-bottom: 50px;
}

.pDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-right: 20%;
	padding-left: 20%;
}

.slider {
	background-color: black;
}

.middle {
	background: linear-gradient(90deg,  rgba(252,176,69,1) 0%, rgba(253,29,29,1) 50%, rgba(131,58,180,1) 100%);
}

.notmiddle {
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.notsmallmiddle{
	background: linear-gradient(90deg, rgba(253,187,45,1) 0%, rgba(34,193,195,1) 100%);
}

.smallmiddle {
	background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.small1 {
	width: 100%;
	height: 70px;
	position: relative;
}

.big1 {
	width: 100%;
	height: 70px;
	position: relative;
}

.bigWrapper {
	z-index: 1;
	position: absolute;
	width: 100%;
}

.recipe {
	margin-top: 0;
	font-family: ohno-blazeface, sans-serif;
	font-style: normal;
	font-weight: 100;
}

a {
	color:rgba(253,187,45,1);
	font-size: 36px;
	text-decoration: none;
	font-weight: 700;
}

a:hover {
	color: teal;
}

.oddLink:hover {
	color: pink;
}

@media (max-width: 600px) {
	.heartOne {
		width: 40%;
		transform:  translate(100px, 40px);
	}
	
	.heartTwo {
		width: 40%;
		transform:  translate(0px, 0px);
	}
	
	.heartThree {
		width: 30%;
		transform: translate(-80px, 0px);
	}

}
